.App {
  min-width: 100%;
  min-height: 100vh;
}


.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  height: 70px;
}

.headerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  font-weight: 700;
  font-size: 15px;
  height: 40px;
}

.menuOption {
  line-height: 40px;
}

.logo{
  height: 40px;
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 20px;
  background-color: white;
}

.firstColumn {
  width: 500px;
  min-height: 200px;
}

.secondColumn {
  width: 800px;
  min-height: 200px;
}

.currentBalance {
  height: 70px;
  font-size: 70px;
  font-weight: 200;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: bottom;
}

.balanceOptions {
  margin-top: 20px;;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.extraOption {
  width: 180px;
  text-align: center;  
  border: 2px solid rgba(0, 102, 255, 0.31);
  border-radius: 1000px;
  font-weight: 600;
  color: rgba(0, 102, 255, 0.714);
  transition: 0.4s color, 0.4s background-color;
}

.extraOption:hover {
  cursor: pointer;
  background-color: #31579E;
  color: white;
}

.requestAndPay {
  width: 100%; 
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.quickOption {
  background-color: #31579E;
  height:100px;
  width: 100px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.numReqs {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quickOption:hover {
  cursor: pointer;
}

.accountDetailRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-left: 25px;
  gap: 30px;
}

.accountDetailHead {
  font-weight: 700;
  font-size: 16px;
  color: #4f4f4f;
}

.accountDetailBody {
  color: #767676;
  font-size: 12px;
  font-weight: 600;
}
/**
 * * General variables
 * */
/**
 * * General configs
 * */
 * {
  box-sizing: border-box;
}

.login {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1em;
}

.login button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/**
 * * Bounce to the left side
 * */
@-webkit-keyframes bounceLeft {
  0% {
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes bounceLeft {
  0% {
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}
/**
 * * Bounce to the left side
 * */
@-webkit-keyframes bounceRight {
  0% {
    transform: translate3d(0, -50%, 0);
  }
  50% {
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    transform: translate3d(100%, -50%, 0);
  }
}
@keyframes bounceRight {
  0% {
    transform: translate3d(0, -50%, 0);
  }
  50% {
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    transform: translate3d(100%, -50%, 0);
  }
}
/**
 * * Show Sign Up form
 * */
@-webkit-keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
/**
 * * Page background
 * */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ccc;
  background-size: cover;
}
.user_options-container {
  position: relative;
  width: 80%;
}
.user_options-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(8, 52, 63) ;
  border-radius: 3px;
}

/**
 * * Registered and Unregistered user box and text
 * */
.user_options-registered,
.user_options-unregistered {
  width: 50%;
  padding: 75px 45px;
  color: white;
  font-weight: 300;
}

.user_registered-title,
.user_unregistered-title {
  margin-bottom: 15px;
  font-size: 1.66rem;
  line-height: 1em;
}

.user_unregistered-text,
.user_registered-text {
  font-size: 0.83rem;
  line-height: 1.4em;
}

.user_registered-login,
.user_unregistered-signup {
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.user_registered-login:hover,
.user_unregistered-signup:hover {
  color: rgba(34, 34, 34, 0.85);
  background-color: #ccc;
}

/**
 * * Login and signup forms
 * */
.user_options-forms {
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(50% - 30px);
  min-height: 420px;
  background-color: rgb(56, 54, 54) ;
  border-radius: 3px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transform: translate3d(100%, -50%, 0);
  transition: transform 0.4s ease-in-out;
}
.user_options-forms .user_forms-login {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.user_options-forms .forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: #e8716d;
  letter-spacing: 0.1rem;
}
.user_options-forms .forms_field:not(:last-of-type) {
  margin-bottom: 20px;
}
.user_options-forms .forms_field-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 20px 6px 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: gray;
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}
.user_options-forms .forms_field-input:focus {
  border-color: gray;
}
.user_options-forms .forms_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.user_options-forms .forms_buttons-forgot {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  color: #ccc;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-forgot:hover {
  color: #b3b3b3;
}

.user_options-forms .user_forms-signup,
.user_options-forms .user_forms-login {
  position: absolute;
  top: 70px;
  left: 40px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
}
.user_options-forms .user_forms-signup {
  transform: translate3d(120px, 0, 0);
}
.user_options-forms .user_forms-signup .forms_buttons {
  justify-content: flex-end;
}
.user_options-forms .user_forms-login {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/**
 * * Triggers
 * */
.user_options-forms.bounceLeft {
  -webkit-animation: bounceLeft 1s forwards;
          animation: bounceLeft 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-signup {
  -webkit-animation: showSignUp 1s forwards;
          animation: showSignUp 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-login {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-120px, 0, 0);
}
.user_options-forms.bounceRight {
  -webkit-animation: bounceRight 1s forwards;
          animation: bounceRight 1s forwards;
}

/**
 * * Responsive 990px
 * */
@media screen and (max-width: 990px) {
  .user_options-forms {
    min-height: 350px;
  }
  .user_options-forms .forms_buttons {
    flex-direction: column;
  }
  .user_options-forms .user_forms-login .forms_buttons-action {
    margin-top: 30px;
  }
  .user_options-forms .user_forms-signup,
.user_options-forms .user_forms-login {
    top: 40px;
  }

  .user_options-registered,
.user_options-unregistered {
    padding: 50px 45px;
  }
}

/* kyc */
.grd-row:before, .grd-row:after {
  display: table;
  content: " ";
  clear: both;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Primary Style
  ========================================
*/
html, body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ol, ul, li {
  list-style: none;
}
/*
  ========================================
  Header
  ========================================
*/
/* Main Header */
.main-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #3e454c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 768px) {
  .main-header {
    position: fixed;
    height: 55px;
  }
}
/* Logo */
.logo {
  display: block;
  margin: 11px auto;
  width: 70px;
  height: 22px;
  background: #eee;
}
@media only screen and (min-width: 768px) {
  .logo {
    float: left;
    margin: 14px 0 0 14px;
    width: 85px;
    height: 30px;
  }
}
/* Top Navigation */
.top-nav {
  display: none; /* top nav - not visible on mobile devices */
}
@media only screen and (min-width: 768px) {
  .top-nav {
    display: block;
    float: right;
    height: 100%;
  }
  .top-nav > li {
    display: inline-block;
    padding: 1em .6em !important;
    margin-right: 1em;
    height: 100%;
  }
  .top-nav a {
    display: block;
    font-size: 1rem;
    color: #ffffff;
  }
  .top-nav a:hover {
    color: #1784c7;
  }
}
/*
  ========================================
  Main
  ========================================
*/
/* Side Navigation */
.side-nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .side-nav {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: block;
  width: 15%;
  height: 100%;
  padding: 55px 0 0;
  background-color: #2c3136;
  opacity: 1;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
  }
  .side-nav > ul > li > a {
  display: block;
  padding: 12px 15px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;  
  border-bottom: 0px solid #eeeeee;
  border-left: 0px solid #ffffff;
  }
  .side-nav > ul > li > a:hover {
    background-color: #33383e;
  } 
  .side-nav .active {
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
  .side-nav i {
    padding-right: 15px;
    color: #646a6f; 
  }
}
/* Article */
article {
  position: absolute;
  z-index: 1;
  display: block;
  width: 90%;
  min-height: 500px;
  margin: 75px 0 30px 0;
}
section {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(128, 128, 128, 0.2);
}
@media only screen and (min-width: 768px) {
  article {
    width: 75%;
    margin-top: 85px;
  }
  section {
    padding: 15px;
  }
}
section h3 {
  font-size: 15px;
  font-weight: 700;
}
form p {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.5;
}
form span {
  margin-left: 5px;
  margin-right: 50px;
}
form span:last-child {
  margin-right: 0px;
}
.grd-row {
  background: #fff;
  margin: 15px auto;
  padding: 10px 0;
}
.grd-row:before, .grd-row:after {
  display: table;
  content: " ";
  clear: both;
}
.grd-column {
    float: left;
    min-height: 1px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.grd-column-four {
    width: 33.3333333333%;
}
.grd-column-six {
  width: 50%;
}
.grd-column-eight {
    width: 66.6666666667%;
}
.grd-column-twelve {
  width: 100%;
}
input[type="text"] {
  margin-bottom: 20px;
  padding: 12px 0px;
  width: 70%;
  height: 15px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  outline: 0;
}
input[type="text"]:focus {
  outline: 0;
  border-bottom: 1px solid #1784c7;
  background: rgba(0, 0, 0, 0);
}
input[type="radio"] {
  display: inline;
}
input[type="radio" i] {
  margin-left: 0px;
}
.valid {
  color: green;
}
.invalid {
  color: red;
}
button {
  display: inline-block;
  padding: 15px 20px;
  background-color: #1784c7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.95;
}
button:hover {
  opacity: 1;
  cursor: pointer;
  outline: none;
}
/* Validation */
.message {
  position: relative;
  display: inline-block;
}
.validation-response {
  position: absolute;
  bottom: 0%;
  left: 20px;
  padding: 1em;
  background-color: #2c3136;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 5;
  /* hidden by default */
  visibility: visible;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s, visibility 0s .3s;
  -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s, visibility 0s .3s;
  transition: transform 0.3s 0s, opacity 0.3s 0s, visibility 0s .3s;
}
.validation-response::after {
  content: '';
  position: absolute;
  bottom: 25%;
  left: -8%;
  /* create triangle in css */
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right:8px solid #2c3136;
}
.validation-response.is-visible {
  /* .validation-response .is-visible (space between classes) makes it invalid*/
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s, visibility 0s 0s;
  transition: transform 0.3s 0s, opacity 0.3s 0s, visibility 0s 0s;
}
/*  card*/
.card-body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Raleway';
}

.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name""number number""expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
}

label {
  padding-bottom: 5px;
  font-size: 13px;
}

input {
  margin-top: 3px;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.container {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 54vw;
  padding: 20px;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard{
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float:right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.creditcard .lightblue {
  fill: #03A9F4;
}

.creditcard .lightbluedark {
  fill: #0288D1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #F2F2F2;
}

#cardback .st4 {
  fill: #D8D2DB;
}

#cardback .st5 {
  fill: #C4C4C4;
}

#cardback .st6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #FFFFFF;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #EAEAEA;
}

#cardback .st12 {
  font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}